/*
Nombre del archivo: carousel.css
Autor original: Scrum team
Fecha de creacion de archivo:30 de marzo de 2017
Descripcion: Parte de la interfaz principal la cual permite que las distintas imagenes se muevan automaticamente
*/

/* Estilos globales
-------------------------------------------------- */
/* cuerpo y propiedades */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



#contenedor-header{
    margin-right: 100px;
    margin-left: 0px;
    height: 80px;
    width: 150px;
}
#cabecera-fija{
    height: 115px;
    width: 300%; 
    left: 0%;
    top: 0%;
    position: fixed; 
    background-color: transparent;
    background-image: url('http://127.0.0.1/RTripTours/images/HorBanner.png');
}

footer p{
    margin-left: 10px;
    margin-right: 10px;
    color: #FBEFEF;
}
#menu-posision{
    padding-top: 30px;
}
/* Propiedades del NAVBAR
-------------------------------------------------- */
a {
font-weight: 100;
font-size: large;

}
h2 {
font-weight: 100;
font-size: medium;


}


.navbar-inverse .navbar-nav>li>a { 
    color: #EDEDED;
}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
    background-color: #CC2B66

}

/* Color del enlace activo */
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
{ 
    background-color: #CC2B66
}
/* Color del submenu */
.dropdown-menu { 
    background-color: #FAEDFF
}
/* Color del submenu seleccion */
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #FFB8F8
}
/* Clase esspecial, ontenedores .navbar, posicion y lugar*/
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/*relleno para una correcta visualización en las ventanas estrechas */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* Propiedades del CAROUSEL
-------------------------------------------------- */

/* Clase base de Carousel */
.carousel {
  height: 720px;
  margin-bottom: 80px;
}

/* Declarar alturas y posición de imagen */

.carousel .item {
  height: 760px;

}
.navbar-inverse { 
   background-image: url('http://127.0.0.1/RtripTours/images/Chiapa de Corzo - Chiapas.jpg');
}
.uno {
  height: 500px;
  background-image: url('http://127.0.0.1/RtripTours/images/Xilitla - San Luis Potosí.jpg');
}
.dos {
  height: 500px;
  background-image: url('http://127.0.0.1/RTripTours/images/tequisquiapan-queretaro.jpg');
}
 .tres{
  height: 500px;
  background-image: url('http://127.0.0.1/RTripTours/images/Huamantla - Tlaxcala.jpg');
}
 .cuatro{
  height: 500px;
  background-image: url('http://127.0.0.1/RTripTours/images/mision_santiago_de_jalpan.jpg');
}
 
 
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h3 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* barra de navegación de posicionamiento */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /*  tamaño del contenido del carrusel */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
#contenedor-footer{
    height: 50px;
    width: 100%; 
    left: 15px;
    background-color:  #135e8d;
}
